.aie_mouse_highlight {
  display: none;
  position: fixed;
  background-color:white;
  border: 1px dotted rgba(212, 5, 167);
  pointer-events: none;
}

.aie_mouse_highlight.show {
  display: inline-block;
  mix-blend-mode: difference;
}