.aie_mouse_highlight {
  background-color: rgba(219, 189, 129, 0.1) !important;
  outline: 1px solid rgba(219, 189, 129, 0.5) !important;
  animation-name: borderDance;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name: borderDance;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;

}
