li {
  list-style: none;
}

li > .item {
  display: flex;
  flex: flex-wrap;
  width: 100%;
  position: relative
}

ul {
  padding-left: 30px;
}

label {
  padding: 10px;
  width: 100%;
  text-overflow: ellipsis; 
  overflow: hidden;
  white-space: nowrap;
  padding-left: 20px;
  cursor: pointer;
  color: white;
  border-bottom: 1px solid rgb(32, 60, 105);
}

label:hover {
  color: rgb(219, 189, 129);
}

.value {
  padding: 10px;
  color: white;
  white-space: nowrap;
}

input[type='checkbox'] {
  display: none;
}

.itemContent {
  width: 100%;
  overflow: hidden;
}

input[type='checkbox']:checked ~ .item > label {
  color: #E39644;
  border-bottom: 1px solid #E39644;
}

.item:before {
  position: absolute;
  content: '';
  width: 0; 
  height: 0; 
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid white;
  top: 12px;
  left: 4px;
}

.itemPair:last-of-type:before {
  display: none;
}

input[type='checkbox']:checked ~ .item:before {
  -webkit-animation: rotateRight 0.3s;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  border-left-color: #E39644;
}

input[type='checkbox']:not(checked) ~ .itemContent {
  display: none;
}

input[type='checkbox']:checked ~ .itemContent {
  display: block;
  -webkit-animation: fadeIn 0.3s;
  animation: fadeIn 0.3s;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}  
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@-webkit-keyframes rotateRight {
    from { transform: rotate(0deg); }
      to { transform: rotate(90deg); }
}  
@keyframes rotateRight {
    from { -webkit-transform: rotate(0deg); }
      to { -webkit-transform: rotate(90deg); }
}

#loader {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.svgLoader {
  margin-left: 10px;
}

#loader.hide {
  display: none;
}

body {
  background: #10213D;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

label.mark {
  color: gold;
  animation-name: blinker;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:blinker;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
  0% { opacity: 1.0; }
  50% { opacity: 0.5; }
}

@-webkit-keyframes blinker {  
  0% { opacity: 1.0; }
  50% { opacity: 0.5; }
}

@keyframes blinker {  
  0% { opacity: 1.0; }
  50% { opacity: 0.5; }
}

.toolbar {
  z-index: 1;
  background: rgb(32, 60, 105);
  color: #E39644;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  height: 25px;
  border-bottom: 1px solid  rgb(44, 87, 155);
  box-shadow: 0 3px 3px #000;
  display: flex;
}


.toolbar input[type='checkbox'] {
  display: none;
}

.toolbar-icon {
  font-size: 15px;
  display: inline-block;
  width: auto;
  cursor: pointer;
  padding: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 5px;
  color: #E39644;
  border-bottom: 1px solid rgb(54, 106, 190);
}

input[type='checkbox']:checked + .toolbar-icon {
  background: rgb(7, 19, 39)
}

.toolbar-icon:hover {
  color: gold;
}

#container {
  margin-top: 25px;
}