.itemElement {
  list-style: none;
}

.itemElement > .item {
  display: flex;
  flex: flex-wrap;
  width: 100%;
  position: relative
}

.itemList {
  padding-left: 30px;
}

#container > .itemContent > .itemList {
  padding-left: 15px;
  margin: 0;
}

.timemachine-item,
label {
  padding: 10px;
  width: 100%;
  text-overflow: ellipsis; 
  overflow: hidden;
  white-space: nowrap;
  padding-left: 20px;
  cursor: cell;
  color: white;
  border-bottom: 1px solid rgb(32, 60, 105);
}

label:hover {
  color: #ff0475
}

.value {
  padding: 10px 30px 0 0;
  color: white;
  white-space: nowrap;
}

input[type='checkbox'] {
  display: none;
}

.itemContent {
  width: 100%;
  overflow: hidden;
}

input[type='checkbox']:checked ~ .item > label {
  color: #d405a7;
  border-bottom: 1px solid #d405a7;
}

.item:before {
  position: absolute;
  content: '';
  width: 0; 
  height: 0; 
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid white;
  top: 12px;
  left: 4px;
}

.itemPair:last-of-type:before {
  display: none;
}

input[type='checkbox']:checked ~ .item:before {
  -webkit-animation: rotateRight 0.3s;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  border-left-color: #d405a7;
}

input[type='checkbox']:not(checked) ~ .itemContent {
  display: none;
}

input[type='checkbox']:checked ~ .itemContent {
  display: block;
  -webkit-animation: fadeIn 0.3s;
  animation: fadeIn 0.3s;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}  
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@-webkit-keyframes rotateRight {
    from { transform: rotate(0deg); }
      to { transform: rotate(90deg); }
}  
@keyframes rotateRight {
    from { -webkit-transform: rotate(0deg); }
      to { -webkit-transform: rotate(90deg); }
}

#loader {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 60px);
  color: #ff0475;
}

.svgLoader {
  margin-left: 10px;
}

.hide {
  display: none !important;
}

body {
  background: #10213D;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

label.mark {
  color: #ff0475;
  animation-name: blinker;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:blinker;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
  0% { opacity: 1.0; }
  50% { opacity: 0.5; }
}

@-webkit-keyframes blinker {  
  0% { opacity: 1.0; }
  50% { opacity: 0.5; }
}

@keyframes blinker {  
  0% { opacity: 1.0; }
  50% { opacity: 0.5; }
}

.toolbar {
  z-index: 1;
  background: rgb(32, 60, 105);
  color: #d405a7;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  height: 25px;
  border-bottom: 1px solid  rgb(44, 87, 155);
  box-shadow: 0 3px 3px #000;
}


.toolbar input[type='checkbox'] {
  display: none;
}

.toolbar-info,
.toolbar-icon {
  font-size: 15px;
  display: inline-block;
  width: auto;
  cursor: pointer;
  padding: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 5px;
  color: #d405a7;
  border-bottom: 1px solid rgb(54, 106, 190);
  margin: 0 auto;
}
.toolbar-info {
  font-size: 12px;
  border-bottom: 0;
  color: white;
  margin: 0 10px;
}

input[type='checkbox']:checked + .toolbar-icon {
  background: rgb(7, 19, 39)
}

.toolbar-icon:hover {
  color: #ff0475;
  border-bottom-color: #ff0475;
}

#container {
  margin-top: 35px;
}

#timemachine {
  margin-top: 35px;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.right {
  float: right;
}

.timemachine-item {
  width: calc(100% - 70px);
  cursor: context-menu;
}

.timemachine-item td {
  padding: 15px;
  margin: 0;
  border-bottom: 1px solid rgb(32, 60, 105);
}

.timemachine-item:hover td {
  background: rgb(7, 19, 39);
}

.toolbar-icon-label {
  display: none;
  overflow: hidden;
  padding: 10px;
  position: absolute;
  margin-left: 20px;
  font-size: 10px;
  margin-top: 30px;
  background: rgba(7, 19, 39, 0.8);
}

.timemachine-restore-button > *,
.timemachine-apply-button > * {
  pointer-events: none;
}

.timemachine-restore-button,
.timemachine-apply-button {
  background: rgb(7, 19, 39);
  padding: 5px 10px 5px 5px;
  color: #d405a7;
  cursor: pointer;
  border: 1px solid #d405a7;
}

.timemachine-apply-button {
  border-radius: 0 5px 5px 0;
  border-left: 0;
}

.timemachine-restore-button {
  border-radius: 5px 0 0 5px;
  margin-left: 10px;
}

.timemachine-restore-button:hover,
.timemachine-apply-button:hover {
  color: white;
  background: #ff0475;
}

.toolbar-icon:hover > .toolbar-icon-label {
  display: inline-block;
}